{:db/id                 #db/id [:db.part/db]
 :db/ident              :task/ordinal/long
 :db/valueType          :db.type/long
 :db/cardinality        :db.cardinality/one
 :db/doc                "task ordinal"
 :db.install/_attribute :db.part/db}
{:db/id                 #db/id [:db.part/db]
 :db/ident              :task/name/string
 :db/valueType          :db.type/string
 :db/cardinality        :db.cardinality/one
 :db/doc                "task name"
 :db.install/_attribute :db.part/db}
{:db/id                 #db/id [:db.part/db]
 :db/ident              :task/done/boolean
 :db/valueType          :db.type/boolean
 :db/cardinality        :db.cardinality/one
 :db/doc                "task done"
 :db.install/_attribute :db.part/db}

